#footNotes {
  width: 980px;
  margin: 0 auto;
  font-size: 10px;
}
.footContents {
  color: var(--color-footerColor);
  padding: 63px 0px 20px;
  text-align: left;
  border-bottom: 1px solid var(--color-footerColor);
}
.footContents > .blueFont {
  font-size: 10px;
}
.footer-li {
  padding: 0 0 0 17px;
}
.footer-li li {
  margin-bottom: 9.6px;
}
/* + 모양 감추기*/
.hiddenForMobile {
  display: none;
}
.globalfooter > i {
  font-size: 17px;
}
.globalfooter > span,
.globalfooter > i {
  margin: 20px 5px;
}
.globalfooter {
  background-color: var(--color-backgroundColor);
  display: flex;
  flex-wrap: wrap;
}
.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--color-backgroundColor);
  width: 100%;
}
.eachFooter {
  margin: 0 20px 0 0;
  text-align: left;
}
.eachFooter > p {
  font-size: 12px !important;
  color: var(--color-navGray);
  margin: 0;
  cursor: pointer;
}
.eachFooter > p:hover {
  text-decoration: underline;
}
.eachFooter > h6 {
  font-weight: 900;
}
.footerLast {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
  padding: 10px 0;
}
.footerlightColor {
  color: var(--color-footerColor);
  margin-right: 20px;
}
.footer-li-last {
  list-style-type: none;
  padding: 0;
  width: 100%;
  text-align: justify;
}
.footer-li-last > li {
  display: inline-block;
  cursor: pointer;
}
.footerright {
  position: absolute;
  left: 1150px;
}
