/*fist icons for Mac*/
#thirdIconsAll{
    margin: 0; width: 100%;
    text-align: center;
    
}
.iconBox {
    width: 328.8px; height: 80px ; margin: 0 auto;
}
.icons {
    padding : 31px 12px 94px; 
}
.icons p {
    font-size: 21px; padding-top : 15px; margin :0 auto;
}
.blueFont {
    font-size: 21px; padding-top : 12px; margin :0 auto;
    color: var(--color-infobluecolor); cursor: pointer;
    text-align: center;
}